<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show category</title>
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
    }
    table{
        width: 500px;
        border: 2px solid black;
        border-collapse: collapse;

    }
    th{
        border: 2px solid black;
    }

    td{
        border: 1px solid black; 
        text-align: center; 
    }
    
</style>
<body>
    <div style="width: 100%;">
    {% include './component/navbar.html' %}</div>
    <form action="/">
        <input type="submit" name="submit" value="home" style="margin-top: 20px;position:absolute;left:20px">
    </form>
    <form action="category" >
        <input type="submit" name="submit" value="Add" style="position: relative; top:90px;right:-445px">
    </form>
    <h2 style="margin-top: 50px;">Category Datas :</h2>

    <table>
        <thead>
            <th style="border: 2px solid black; text-align:center">ID</th>
            <th style="border: 2px solid black;text-align:center">Name</th>
            <th style="border: 2px solid black;text-align:center">Date</th>
            <th style="border: 2px solid black;text-align:center">Action</th>
        </thead>
        {% for d in Data %}
        <tr>
            <td style="border: 1px solid black;">{{forloop.counter}}</td>
            <td style="border: 1px solid black;">{{d.name}}</td>
            <td style="border: 1px solid black;">{{d.date}}</td>
            <td style="border: 1px solid black;">
                <a href="/edit_cat?id={{d.id}}">Edit</a>
                <a href="/del_cat?id={{d.id}}">Delete</a>
            </td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>

