<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subategory</title>
</head>
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>

<body>
    {% include './component/navbar.html' %}
    <div class="container">
        <h2 class="mt-5">Enter Subcategory Name :</h2>

        <form action="/">

            <input type="submit" name="submit" value="<<home" style="position:absolute; left: 20px; top: 100px;">
        </form>

        <form action="./show_subcat">

            <input type="submit" name="submit" value="Show data" style="position:absolute; right: 20px; top: 100px;">
        </form>



        <form style="margin-top: 50px;" action="subcategory" method="post">
            {% csrf_token %}

            <label>Name:</label>
            <input type="text" name="name" value="{{ d.name }}" required>
            <select name="cat_id" id="" required>
                <option value="">Select</option>
                {% for item in category %}


               
                    <option value="{{ item.id }}">{{ item.name }}</option>
                
                {% endfor %}
            </select>
            <input type="submit" name="submit" value="save">
        </form>
    </div>
</body>

</html>